@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

body {
  font-feature-settings: 'ss01', 'ss02', 'ss12', 'zero';
  overflow: visible;
}

a {
  text-decoration: none;
}

video {
  width: 100%;
}

ol {
  padding-left: 2em;
  margin-bottom: 0;
}

li {
  line-height: 1.75;
}

code {
  font-family: inherit !important;
  background-color: #ffec99;
  padding: 0px 5px 2px;
}

blockquote {
  border-left: 2px solid;
  margin-left: 0;
  padding-left: 1em;
  background-color: #F8F9FA;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.colspan {
  grid-column: 2/4;
}

.mantine-Alert-title {
  margin-bottom: 0;
}

@media screen and (max-width: 700px) {
  .colspan {
    grid-column: auto;
  }
}

.h_100vh {
  height: calc(100vh - 51px);
}

.oy_scroll {
  overflow-y: scroll;
}

.d_flex {
  display: flex;
}

.fd_col {
  flex-direction: column;
}

.js_sb {
  justify-content: space-between;
}

/* Carbon Ad */
.carbon-cad {
  display: block;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
}

.carbon-cad .carbon-img {
  margin-right: 10px;
  float: left;
}

.carbon-img img {
  width: 10em;
  border-radius: 5px;

  --shadow-color: 205deg 31% 43%;
  --shadow-elevation-medium: 0.2px 0px 0.2px hsl(var(--shadow-color) / 0.44),
    0.5px 0px 0.6px -0.6px hsl(var(--shadow-color) / 0.44),
    1.1px 0.1px 1.2px -1.2px hsl(var(--shadow-color) / 0.44),
    2.2px 0.2px 2.5px -1.9px hsl(var(--shadow-color) / 0.44),
    4.3px 0.3px 4.8px -2.5px hsl(var(--shadow-color) / 0.44);

  box-shadow: var(--shadow-elevation-medium);
}

.carbon-text {
  line-height: 1.5;
  font-size: 12px;
  max-width: 350px;
  display: block;
  text-decoration: none;
  color: #666;
}

.carbon-poweredby {
  display: none;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.04em;
  text-decoration: none;
}