html {
	color-scheme: dark light;
}

::selection {
	background-color: #79ffe1;
	color: black;
}

::-webkit-search-cancel-button {

  /* Remove default */
  -webkit-appearance: none;
  }
  
:root {
	--border-color-light: #bdc3c7;
	--border-color-dark: #666;
	--background-color-light: #f5f7f7;
	--background-color-dark: #353939;
	--background-color-1: #fff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--border-color-light: #666;
		--border-color-dark: #bdc3c7;
		--background-color-light: #353939;
		--background-color-dark: #f5f7f7;
		--background-color-1: #000;
	}
}

body {
	font-size: 1em;
	line-height: 1.75;
	font-family: 'InputMono', monospace;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-weight: 400;
	font-variant-numeric: slashed-zero;
	font-variation-settings: "wght" 400;
	word-spacing: -3px;
	font-feature-settings: "ss01", "ss02", "ss12";
}

button {
	appearance: none;
	width: 100%;
	height: 100%;
	border: 0;
	cursor: pointer;
	background: none;
	color: currentColor;
	padding: 0;
	font-family: inherit;
}

blockquote {
	margin: 0;
	border-left: 1px solid;
	padding-left: 1em;
	background-color: var(--background-color-1); 
}

button[disabled] {
	cursor: not-allowed;
}

.but_1:hover:enabled,
.but_1:active:enabled {
	background-color: var(--background-color-light);
}

.but_2:hover:enabled,
.but_2:focus,
.but_2:active:enabled {
	background-color: #333;
}

.but_1_dark:hover:enabled,
.but_1_dark:focus,
.but_1_dark:active:enabled {
	background-color: var(--background-color-dark);
}

input[type="checkbox"] {
	accent-color: black;
	background-color: black;
}
input[type="text"] {
	font-size: inherit;
}

strong,
.fw_bold {
	font-weight: 700;
	font-variation-settings: "wght" 700;
}

ol {
	padding-left: 2em;
}

a {
	color: inherit;
	background-color: transparent;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: 1px;
	text-underline-offset: 3px;
	text-decoration-line: underline;
	text-decoration-style: dashed;
}

a:hover {
	background-color: transparent;
	text-decoration-skip-ink: auto;
	text-decoration-style: solid;
}

code {
	font-family: inherit;
	padding: 0 5px;
	_border: 1px dashed var(--border-color-light);
	background-color: var(--background-color-1);
}

pre {
	white-space: pre-wrap;
	font-family: inherit;
	padding: 1px 5px 5px;
	border: 1px dashed var(--border-color-light);
	background-color: var(--background-color-1);
}

pre code {
	padding: 0;
	border-width: 0;
}

dl,
dd {
	margin: 0;
}

video {
	width: 100%;
	border: 1px solid var(--border-color-light);
	margin-bottom: -0.5em;
}

input {
	-webkit-border-radius: 0;
	border-radius: 0;
}

.wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

input:focus-visible {
	outline: 0;
}

label, summary {
	cursor: pointer;
}

/* POSITION */
.pos_sticky {
	position: sticky;
}

.pos_abs {
	position: absolute;
}

.top_0 {
	top: 0;
}

.bot_0 {
	bottom: 0;
}

.right_0 {
	right: 0;
}

.w_3em {
	width: 3em;
}

.w_35em {
	width: 3.5em;
}

.mh_35em {
	min-height: 3.5em;
}

.mh_3em {
	min-height: 3em;
}

.h_3em { height: 3em }
.mh_5em { min-height: 5em }

/* BACKGROUND */
.bgc_1 {
	background: var(--background-color-1);
}

.bgc_000 {
	background-color: #000;
}

.bgc_333 {
	background-color: #333;
}

.bgc_light {
	background-color: var(--background-color-light);
}

.bgc_dark {
	background-color: var(--background-color-dark);
}

.c_fff {
	color: white;
}
.c_000 {
	color: black;
}
.c_1 {
	color: var(--background-color-dark)
}

.d_grid {
	display: grid;
}

.d_flex {
	display: flex;
}

.fg_1 {
	flex-grow: 1;
}
.fl_1 {flex: 1}
.fd_col { flex-direction: column }

.jc_sb {
	justify-content: space-between;
}

.jc_center {
	justify-content: center;
}

.ai_center {
	align-items: center;
}

.gtc_320px {
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.gtc_4fr {
	grid-template-columns: repeat(4, 1fr);
}

.gtc_5fr {
	grid-template-columns: repeat(5, 1fr);
}

.gtc_2fr {
	grid-template-columns: 1fr 1fr;
}

.gtc_35em {
	grid-template-columns: 1fr 3.5em;
}

.gtc_3em_1fr_3em {
	grid-template-columns: 3em 1fr 3em;
}

.gap_1em {
	gap: 1em;
}
.gap_5px { gap: 5px }

.fs_12px {
	font-size: 12px
}
.c_9ab {
	color: #9ab
}
.search {
  --shadow-color: 0deg 0% 62%;
  --shadow-elevation-low:
	0px 1px 1.1px hsl(var(--shadow-color) / 0.34),
	0px 1.7px 1.9px -1.2px hsl(var(--shadow-color) / 0.34),
	-0.1px 4px 4.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
	0px 1px 1.1px hsl(var(--shadow-color) / 0.44),
	0px 3.1px 3.5px -0.6px hsl(var(--shadow-color) / 0.44),
	-0.1px 6.3px 7.1px -1.2px hsl(var(--shadow-color) / 0.44),
	-0.2px 12.8px 14.4px -1.9px hsl(var(--shadow-color) / 0.44),
	-0.3px 25px 28.1px -2.5px hsl(var(--shadow-color) / 0.44);
  --shadow-elevation-high:
	0px 1px 1.1px hsl(var(--shadow-color) / 0.41),
	-0.1px 6.7px 7.5px -0.3px hsl(var(--shadow-color) / 0.41),
	-0.2px 12.3px 13.8px -0.6px hsl(var(--shadow-color) / 0.41),
	-0.2px 18.9px 21.3px -0.8px hsl(var(--shadow-color) / 0.41),
	-0.4px 27.9px 31.4px -1.1px hsl(var(--shadow-color) / 0.41),
	-0.5px 40.3px 45.3px -1.4px hsl(var(--shadow-color) / 0.41),
	-0.7px 57.6px 64.8px -1.7px hsl(var(--shadow-color) / 0.41),
	-1px 80.8px 90.9px -1.9px hsl(var(--shadow-color) / 0.41),
	-1.4px 111.2px 125.1px -2.2px hsl(var(--shadow-color) / 0.41),
	-1.9px 150px 168.8px -2.5px hsl(var(--shadow-color) / 0.41);
	box-shadow: var(--shadow-elevation-low)
}
.search a {
	text-decoration: none;
}
.search a:hover > div {
	background-color: var(--background-color-light);
}

/* PADDING */
.p_05em {
	padding: 0.5em;
}
.p_075em {
	padding: 0.75em;
}

.p_1em {
	padding: 1em;
}

.pl_1em {
	padding-left: 1em;
}
.pr_1em {
	padding-right: 1em;
}

.pt_1em {
	padding-top: 1em;
}

.pt_0 {
	padding-top: 0;
}

.pl_0 {
	padding-left: 0;
}

.pb_0 {
	padding-bottom: 0;
}

.pt_2em {
	padding-top: 2em;
}

.pb_1em {
	padding-bottom: 1em;
}

.pt_05em {
	padding-top: 0.5em;
}

.pr_05em {
	padding-right: 0.5em;
}

.pb_05em {
	padding-bottom: 0.5em;
}

.pl_05em {
	padding-left: 0.5em;
}

.ff_inherit { font-family: inherit }
.fs_inherit { font-size: inherit }

/* BORDER */
.b_0 {border: 0}
.b_1px {
	border: 1px solid var(--border-color-light);
}
.b_1px_dashed {
	border: 1px dashed var(--border-color-light);
}

.bt_1px {
	border-top: 1px solid var(--border-color-light);
}

.bt_1px_dark {
	border-top: 1px solid var(--border-color-dark);
}

.br_1px {
	border-right: 1px dashed var(--border-color-light);
}

.bb_1px_dashed {
	border-bottom: 1px dashed var(--border-color-light);
}

.bb_1px {
	border-bottom: 1px solid var(--border-color-light);
}

.bb_1px_353939 {
	border-bottom: 1px solid #353939;
}

.bl_1px {
	border-left: 1px solid var(--border-color-light);
}

.br_1px_dark {
	border-right: 1px dashed var(--border-color-dark);
}

.bb_1px_dark {
	border-bottom: 1px solid var(--border-color-dark);
}

.bl_025em_dark {
	border-left: 0.25em solid #000;
}

.bo_1px_dashed {
	border: 1px dashed;
}

/* MARGIN */
.m_1em {
	margin: 1em;
}

.mt_1em {
	margin-top: 1em;
}

.mt_0 {
	margin-top: 0;
}

.mb_1em {
	margin-bottom: 1em;
}

.mr_1em {
	margin-right: 1em;
}

.ml_1em {
	margin-left: 1em;
}

.ta_center {
	text-align: center;
}

.w_100pct {
	width: 100%
}

.w_auto {
	width: auto
}

.h_100pct {
	height: 100%
}

.logo {
	background-image: url(/android-chrome-512x512.png);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

@font-face {
	font-family: 'InputMono';
	src: url('InputMono-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'InputMono';
	src: url('InputMono-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}